# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
*.sqlite3

# Virtual environments
venv/
.env/
*.env
.venv*
venv/
*/.venv*/


# Django
/staticfiles/
/media/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.pid
*.bak
.DS_Store
