<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.coffeemap" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>CoffeeStainedMap</name>
    <description>
        Hybrid mobile app for Coffee Map (Cordova).
    </description>

    <content src="index.html" />

    <!-- Whitelist rules -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
</widget>
