body {
  background-color: #f8f9fa;
  font-family: system-ui, sans-serif;
}

#map {
  height: 80vh;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.tool-box {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin-top: 10px;
}

select, input, button {
  margin-top: 5px;
  width: 100%;
}

h1 {
  font-weight: 700;
}
